{% extends 'base.html.tera' %}
{% block title %}{{title | default(value="Dashboard", boolean=true)}}{% endblock title %}

{% block content %}

<main class="py-10 lg:pl-72">
  <div id='content'>
    {% block main_content %}
    <!-- Main content here -->
    {% endblock main_content %}
  </div>
</main>
{% endblock content %}