/target
/my_project
/new_project
ruby-output.md
/.idea/
/example/node_modules/
/example/target/
/test-project
test_project/.gitignore
test_project/Cargo.toml
test_project/package.json
test_project/postcss.config.js
test_project/README.md
test_project/Rocket.toml
test_project/rustyroad.toml
test_project/tailwind.config.js
test_project/config/database/dev.db
test_project/config/database/prod.db
test_project/config/database/test.db
test_project/config/database/migrations/20230424010254_user/down.sql
test_project/config/database/migrations/20230424010254_user/up.sql
test_project/config/database/migrations/20230424010318_user/down.sql
test_project/config/database/migrations/20230424010318_user/up.sql
test_project/config/database/migrations/20230424014046_user/down.sql
test_project/config/database/migrations/20230424014046_user/up.sql
test_project/config/database/migrations/20230424014153_user/down.sql
test_project/config/database/migrations/20230424014153_user/up.sql
test_project/config/database/migrations/20230424014204_user/down.sql
test_project/config/database/migrations/20230424014204_user/up.sql
test_project/config/database/migrations/20230424014612_user/down.sql
test_project/config/database/migrations/20230424014612_user/up.sql
test_project/config/database/migrations/20230424014824_user/down.sql
test_project/config/database/migrations/20230424014824_user/up.sql
test_project/config/environments/default.env
test_project/config/environments/dev.env
test_project/config/environments/prod.env
test_project/config/environments/test.env
test_project/src/main.rs
test_project/src/tailwind.css
test_project/src/controllers/user/components
test_project/src/controllers/user/user.rs
test_project/src/models/components
test_project/src/models/user/user.rs
test_project/src/routes/dashboard.rs
test_project/src/routes/forgot_password.rs
test_project/src/routes/index.rs
test_project/src/routes/login.rs
test_project/src/routes/mod.rs
test_project/src/routes/reset_password.rs
test_project/src/routes/signup.rs
test_project/src/routes/user.rs
test_project/static/robots.txt
test_project/static/images/favicon.ico
test_project/static/js/index.js
test_project/templates/base.html.tera
test_project/templates/components/navbar.html.tera
test_project/templates/pages/404.html.tera
test_project/templates/pages/500.html.tera
test_project/templates/pages/dashboard.html.tera
test_project/templates/pages/forgot_password.html.tera
test_project/templates/pages/index.html.tera
test_project/templates/pages/login.html.tera
test_project/templates/pages/reset_password.html.tera
test_project/templates/pages/signup.html.tera
test_project/templates/sections/header.html.tera
test_project/tests/user.rs
