<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock title %} - example-grapesjs/src/views/sections/header.html.tera</title>

<link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
<script src="https://unpkg.com/grapesjs"></script>
<script src="https://unpkg.com/grapesjs-preset-webpage"></script>
<script src="https://unpkg.com/grapesjs-script-editor"></script>
<script src="https://unpkg.com/@rustyroad/editor"></script>
<script src="https://unpkg.com/idb@7.1.1/build/umd.js"></script>
    