<link rel="stylesheet" href="styles.css" />
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock title %} - example2/src/views/sections/header.html.tera</title>
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    
    <link href="https://unpkg.com/page/dist/css/page.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/page"></script>
    <script src="/static/js/page-tailwind.min.js"></script>
    