<!DOCTYPE html>
<html class='bg-gray-50 h-full' lang='en'>

<head>
    {% block head %}
    {% include 'sections/header.html.tera' %}
    {% endblock head %}
</head>

<body id='app' class='h-full'>
    {% include 'components/navbar.html.tera'%}
    <div id="gjs" style="height: 100%; width: 100%;" accesskey="foo">
        <div style="margin:100px 100px 25px; padding:25px; font:caption">
            This is a demo content from _index.html. You can use this template file for development purpose. It
            won't be stored in your git repository
        </div>
    </div>

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .gjs-block {
            padding: 0 !important;
            width: 100% !important;
            min-height: auto !important;
        }

        .gjs-block svg {
            width: 100%;
        }

        .change-theme-button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 5px;
        }

        .change-theme-button:focus {
            /* background-color: yellow; */
            outline: none;
            box-shadow: 0 0 0 2pt #c5c5c575;
        }

        .gjs-pn-views-container {
            height: auto !important;
        }
    </style>

    <script>
        const escapeName = (name) => `${name}`.trim().replace(/([^a-z0-9\w-:/]+)/gi, '-');

        window.editor = grapesjs.init({
            height: '100%',
            container: '#gjs',
            showOffsets: true,
            fromElement: true,
            noticeOnUnload: false,
            storageManager: false,
            selectorManager: { escapeName },
            plugins: ['grapesjs-tailwind'],
        });

        editor.Panels.addButton('options', {
            id: 'update-theme',
            className: 'fa fa-adjust',
            command: 'open-update-theme',
            attributes: {
                title: 'Update Theme',
                'data-tooltip-pos': 'bottom',
            },
        });
    </script>
    <div id='footer'>
        {% block footer %}
        {% include 'sections/footer' ignore missing %}
        {% endblock footer %}
    </div>
</body>
<script src='static/js/index.js'></script>

</html>