<!DOCTYPE html>
<html class='bg-gray-50 h-full' lang='en'>

    <head>
        {% block head %}
        {% include 'sections/header.html.tera' %}
        {% endblock head %}
    </head>

    {% include 'components/navbar.html.tera'%}
    <body id='app' class='h-full flex flex-col'>
       {% block content %}{% endblock content %}
        <div id='footer'>
            {% block footer %}
            {% include 'sections/footer' ignore missing %}
            {% endblock footer %}
        </div>
    </body>
    <script src='/js/index.js'></script>

</html>